{% extends "baseWithBanner.html" %}
{% block content %}
<body>
    <!-- About us card-->
    <div class="container card mx-auto my-5" style="width: 100%;">
        <div class="card-body">
            <h3 class="card-title">Our story</h3>
                <p class="card-text text-center">We are a three Mechatronics Engineering students at Kennesaw State University. 
                                                We have worked together to make the next generation product in the automation industry.
                                                We are using the Industry 4.0 design language to complete our software stack complete with a REST API or movement commands via
                                                a robust TCP data stream. Connect to our device securely to pick and place any object you can imagine. 
                                                In cooperation with the novel ACOPOS 6D from B&R Automation.
                </p>
        </div>
    </div>
        <!-- Card Grid -->
        <h1 class="card-title text-center">Meet the Team</h1>
        <section class="card-deck py-3 border-bottom">
            <div class="container px-5 my-5">
                <div class="row gy-6">
                    <div class="card col-lg-4 mb-5">
                        <img class="card-img-top rounded-3 mt-2" src="{{ url_for('static', filename='assets/mahmoud.jpg')}}" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Mahmoud Kofiah</h4>
                            <p class="card-text">Team Lead</p>
                            <p>
                                Senior Mechatronics Engineering Student at Kennesaw State University eager to apply engineering knowledge and experience to any project.
                                Has developed biotechnology engineering experience from his current employer Omni International. 
                                Mahmoud is a polygot with professional fluency in Arabic, German, and English.
                            </p>
                            <a href="https://www.linkedin.com/in/mahmoud-kofiah/" class="btn btn-primary">Contact</a>
                        </div>
                    </div>
                    <div class="card col-lg-4 mb-5">
                        <img class="card-img-top rounded-3 mt-2" src="{{ url_for('static', filename='assets/HSangree_Headshot.png')}}" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Haden Sangree</h4>
                            <p class="card-text">Mechanical & Software Lead</p>
                            <p>
                                Senior Mechatronics Engineering student with industry experience in the biotechnology sector from his previous employment as a Concurrent Engineering Intern at Omni International.
                                Haden has professional experience in product design, software and protyping.
                            </p>
                            <a href="https://www.linkedin.com/in/ashley-dukhu-5b997a18a/" class="btn btn-primary">Contact</a>
                        </div>
                    </div>
                    <div class="card col-lg-4 mb-5">
                        <img class="card-img-top rounded-3 mt-2" src="{{ url_for('static', filename='assets/Brandon.jpg')}}" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Brandon Baksh</h4>
                            <p class="card-text">Electrical Lead</p>
                            <p>
                                Brandon Baksh is a Mechatronics engineer with skills of mechanical implementation with electronics and computer controlled systems.
                                He has acquired industry experience from his previous employment being a Field Service Engineer at MVE Biological Solitions.
                            </p>
                            <a href="https://www.linkedin.com/in/brandon-baksh-51a763118/" class="btn btn-primary">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}