<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>6D Mountable</title>
        <!-- Favicon-->
        <link rel="icon" href="{{ url_for('static', filename='assets/owl_head_logo.png')}}" type = "image/x-icon"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet" />
        <!-- Social media icons-->
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"  >
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">6D Mountable</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/HMI">HUD</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- child template -->
        {% block content %}
        {% endblock %}
        </main>
        <footer class="py-3 bg-dark text-center"> <!-- "footer" only needed for when not much content on page-->
            <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.linkedin.com/in/hsangree" role="button">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.linkedin.com/in/mahmoud-kofiah/" role="button">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.linkedin.com/in/brandon-baksh-51a763118/" role="button">
                <i class="fab fa-linkedin"></i>
            </a>
            <div class="container px-5"><p class="m-0 text-center text-white pb-2">Copyright &copy; MTRE4800</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
