{% extends "baseWithBanner.html" %}
{% block content %}
    <body>
        <!-- Features section-->
        <section class="border-bottom py-3">
            <div class="container px-3 my-3">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Communication</h2>
                        <p>Wireless communication with from B&R X20 PLC to 6D Mountable over a custom built API</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Ease of Use</h2>
                        <p>The robot with a mass of less than 600 grams easy mounts to the 6D's 120mmx120mm shuttle</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-dark bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Power</h2>
                        <p>With over 5 hours of battery life, you can pick and place for a lifetime</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Video -->
        <section class="bg-light text-center p-1 border-bottom">
            <!-- <div class="container p-1"> -->
                <!-- <div class="iframe-container">
                    <!--<iframe width="560" height="349" src="https://www.youtube.com/watch?v=S6cQpoUxeC8" allowfullscreen ></iframe>-->
                    <!-- <embed src="{{ url_for('static', filename='assets/6d.mp4')}}" autostart="false" width="1120" height="698" style="width:100%"/></embed>
                </div>  --><div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ url_for('static', filename='assets/6d.mp4')}}" allowfullscreen width="1120" height="698" style="width:100%"></iframe>
                <!-- </div> -->
            </div>
            </div>  
        </section>
        <!--Image Gallery-->
        <section class="border-bottom py-3">
            <div class="container px-3 my-3">
                <div>
                    <img src="{{ url_for('static', filename='assets/3_shuttles.jpg')}}" class="w-100 border rounded" />
                </div>
            </div>
        </section>
        <!-- Testimonials section-->
        <section class="border-bottom py-3">
            <div class="container px-3 my-3">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Industry testimonials</h2>
                    <p class="lead mb-0">They can't wait</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Marvelous!</p>
                                        <div class="small text-muted">- Jeremy Lee</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Beautiful!</p>
                                        <div class="small text-muted">- Josh Drezner</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
{% endblock %}